


@model IEnumerable<PMSContract.ContractModel>

<div class="box-header">
    <h1>@ViewBag.aa</h1>
    <i class="fa fa-fw fa-plus"></i>@Html.ActionLink("Create New", "Create")

</div>

<div class="box box-info">
    <div class="box-body">
        <div class="fr-list">
            <div id="listdata">
                <table id="contractList" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ContractID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContractIDERP)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.ContractCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContractDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CommencementDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description_VN)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContractFormat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FCAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LCAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FCAmountExtension)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LCAmountExtension)
                            </th>


                            <th>
                                @Html.DisplayNameFor(model => model.DurationInDays)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ExtensionInDays)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModifyDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CurrencyCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ForOrdering)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.proj_status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.Partial("_ContractPartial")
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
        <br />
        <a href="javascript:;" id="loadingmore" class="btn btn-primary text-center">View more</a>
    </div>


</div>
<div id="loading"></div>
<script>
    var loadpg = document.getElementById('loadingmore');
    var scwindow = document.querySelector('html');
    var _inCallback = false;
    var pagenumber = 1;
    loadpg.addEventListener('click', function () {
        loadContracts();
    }, false);

    function loadContracts() {
        $('div#loading').empty();
        pagenumber++;
        $('div#loading').html('<p>Loading...</p>');
        $.get("/contract/testpaging?page=" + pagenumber + "&pagesize=200&isjson=2", function (data) {
          //  alert(data);
            if (data != '') {
                $("#contractList tbody").append(data);
            }
            else {
                pagenumber = -1;
            }
            _inCallback = false;
            $('div#loading').empty();
        });
    }

    window.addEventListener('scroll', function (e) {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            loadContracts();
        }
    });
</script>
